<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->
	<typeAliases>
		<typeAlias type="baegopang.user.bean.MemberBean" alias="member"/>
		<typeAlias type="baegopang.user.bean.ZipcodeBean" alias="zipcode"/>
		<typeAlias type="baegopang.user.bean.BrandBean" alias="brand"/>
		<typeAlias type="baegopang.user.bean.StoreBean" alias="store"/>
		<typeAlias type="baegopang.user.bean.MenuBean" alias="menu"/>
		<typeAlias type="baegopang.user.bean.FoodOrderBean" alias="food"/>
		<typeAlias type="baegopang.user.bean.ReplyBean" alias="reply"/>
	</typeAliases>
	<mappers>
		<mapper resource="baegopang/user/xml/member.xml" />
		<mapper resource="baegopang/user/xml/zipcode.xml" />
		<mapper resource="baegopang/user/xml/total.xml" />
		<mapper resource="baegopang/user/xml/reply.xml" />
	</mappers>
</configuration>
